body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: whitesmoke;
    text-align: center;
    color: #130e0f;
}

h1 {
	font-size: 3rem;
    font-weight: 200;
    letter-spacing: 2px;
}

#container {
    width: 50%;
	margin: 0 auto;
}

.flower-img {
    width: 200px;
    border-radius:100%;
    margin: 10px;
}

